---
 const personalImageAlt = "Fernando Hernandez"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hello, I'm Fernando Hernandez, but you can call me Fer. With two years of experience in web development, I've embraced the role of an autodidact <strong>front-end developer, specializing in React</strong>.
    </p>

    <p>
      While my expertise lies in crafting dynamic and engaging user interfaces, <strong>I'm also keen on expanding my skills into the realm of backend development</strong>. Passionate about learning and pushing boundaries, I'm dedicated to delivering innovative solutions and contributing positively to every project I undertake.
  </div>

  <img width="200" height="200" src="/me.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>