---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "March 2023 - Present...",
    title: "Fullstack Developer",
    company: "VM Technologies",
    description:
      "Developed customized software solutions for diverse businesses, including bar management and hardware shop systems.",
  },
  {
    date: "August 2022 - February 2023",
    title: "Fullstack Developer",
    company: "Savet",
    description:
      "Developed and maintained a veterinary software system using Javascript, PHP, HTML, and CSS, facilitating the storage and management of consultations, grooming services, and pet histories.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
